.header {
    padding: 20px 25px;
    justify-content: space-between;
    align-items: center;
}

.header__link { 
    color: white;
}

.header h3 { 
    margin:  0;
}

.header__link:active,
.header__link:visited,
.header__link:hover,
.header__menu-item a  { 
    text-decoration: none;
}

.header__menu-item  {
    list-style-type: none;
    padding: 0 20px 0 0;
}

.header__menu { 
    margin: 0 2rem 0 0;
    font-size: 1.2rem;
}

.header__menu-item::last-child { 
    padding-right: 0px;
}